<h2>Dashboard des Tâches ({{ totalTasks() }} au total)</h2>
<section>
  <h3>À faire</h3>
  @for (task of tasksState.tasksTodo(); track task.id) {
    <article>
      <h4>
        <a [routerLink]="[task.id]">{{ task.title }}</a>
      </h4>
    </article>
  }
</section>
<section>
  <h3>En cours</h3>
  @for (task of tasksInProgress(); track task.id) {
    <article>{{ task.title }}</article>
  } @empty {
    <p>Rien en cours.</p>
  }
</section>
<section>
  <h3>Terminé</h3>
  @for (task of tasksDone(); track task.id) {
    <article>{{ task.title }}</article>
  } @empty {
    <p>Aucune tâche terminée.</p>
  }
</section>

<button (click)="isFormVisible.set(true)">Créer une Tâche</button>
@if (isFormVisible()) {
  <app-task-form (taskSaved)="closeForm()" />
}
